body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f3f3;
  color: #454545;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
  margin: 12.5px 20px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.bar1 { top: 0; }
.bar2 { top: 11px; }
.bar3 { top: 22px; }

.hamburger-menu.open .bar1 {
  transform: rotate(45deg) translate(8px, 8px);
}

.hamburger-menu.open .bar2 {
  opacity: 0;
}

.hamburger-menu.open .bar3 {
  transform: rotate(-45deg) translate(8px, -8px);
}

h1 {
  font-size: 95px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

li a {
  text-decoration: none;
}

.base-color {
  color: #454545
}

.white-color {
  color: #ffffff;
}

.top-img-section {
  position: relative;
  height: 100%;
}

.top-img-section img {
  width: 100%;
  height: 100%;
}

.top-img-section h1 {
  position: absolute;
  top: 40%;
  right: 10vh;
}

nav {
  position: absolute;
  top: 0;
  right: 10vh;
}

nav li {
  list-style-type: none;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation li {
  padding: 15px;
  font-size: 20px;
}

.courts-list-section {
  margin: 70px 0;
}

.courts-list-section h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courts-list-table-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courts-list-table {
  width: 85%;
  margin: 20px 0;
  border: 1px solid rgb(206, 205, 205);
  border-collapse: collapse;
}

.courts-list-table th {
  background-color: #45547E;
  color: white;
}

.courts-list-table tr {
  height: 55px;
}

.courts-list-table td {
  padding-left: 2%;
}

.courts-list-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.courts-list-table tr:nth-child(even) {
  background-color: #ffffff;
}

.reference-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reference-div p {
  font-size: 12px;
}

.reference-div a {
  color: #454545;
}

/* pagenation */
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  display: inline-block;
  padding: 10px 15px;
  background-color: white;
  color: #45547E;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination li a:hover {
  background-color: #45547E;
  color: white;
}

.pagination li.active a {
  background-color: #45547E;
  color: white;
  border-color: #45547E;
}

.filters {
  display: flex;
  width: 85%;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.area-filter {
  height: 35px;
  margin: 0 20px;
  width: 20%;
  padding-left: 3%;
  border-radius: 5px;
  border-color: aliceblue;
}

.meetup-section {
  position: relative;
  height: auto;
  border-bottom: 1px solid transparent;
  margin-bottom: -35px
}

.meetup-section img {
  width: 100%;
  height: auto;
  display: block;
}

.meetup-section h2 {
  position: absolute;
  left: 9%;
  top: 25%;
}

.search-btn-div {
  position: absolute;
  left: 9%;
  top: 50%;
}

.search-btn-div button {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-size: 100%;
  background-color: #EED307;
}

.footer-section {
  height: 20vh;
  background-color: #45547E;
  color: white;
}

.footer-section h3 {
  text-align: center;
  padding: 30px 0;
}

@media (min-width: 1601px) {
}

@media (max-width: 1015px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  .top-img-section h1 {
    right: 5vh;
  }
  
  nav {
    right: 5vh;
  }

  .search-btn-div button {
    left: 9%;
    top: 55%;
  
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .top-img-section h1 {
    display: flex;
  }

  .navigation {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #333634;
    padding: 20px;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }

  .navigation.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  nav {
    right: 0vh;
  }

  .hamburger-menu {
    display: block;
    margin: 20px 25px;
  }

  .courts-list-table table, 
  .courts-list-table th, 
  .courts-list-table tr, 
  .courts-list-table td {
    display: block;
  }

  .courts-list-table thead tr {
    position: absolute;
    display: none;
  }

  .courts-list-table tr {
    height: unset;
  }

  .courts-list-table td {
    border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
    padding: 15px 0 15px 50%;
  }

  .courts-list-table td:before {
    position: absolute;
		top: 15px;
		left: 15px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;

    content: attr(data-title);
  }

  .filters {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5px;
  }
  
  .area-filter {
    width: 90%;
    margin: 0;
  }

  .meetup-section h2 {
    top: 20%;
  }

  .search-btn-div button {
    left: 9%;
    top: 58%;
  
    width: 130px;
    height: 35px;
  }
}